<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">ASSP</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link"  routerLink="/add-story">Add Story Form</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link "  routerLink="/stories-and-points">Stories and Points</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link "  routerLink="/sprint-calculator">Sprint Calculator</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link "  routerLink="/auto-selected-sprint">Auto Selected Sprint</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>